{% extends "base.html" %}
{% block title %}
Dysarthria XAI - Demo
{% endblock %}

{% block extra_head_after %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('ready');

        function form_xai_post(response) {
            let code = response.code;
            if (code !== 200) {
                alert('Error: ' + response.msg);
                return
            }
            let data = response.data;
            console.log(data);

            let uid = data.uid;
            $('#uid').val(uid);

        }

        let form_xai = $('#form_xai');
        form_xai.submit(function (e) {
            e.preventDefault();
            // Add file data to form
            // var formData = new FormData();
            // formData.append('file', $('input[type=file]')[0].files[0]);

            // get submit button value
            var submitValue = $(this).find('button[type=submit]:focus').val();

            // get all form data
            var formData = new FormData(this);
            formData.append('mode', submitValue);

            $.ajax({
                url: this.action,
                type: 'POST',
                data: formData,
                processData: false, // jQuery가 데이터를 처리하지 않도록 설정
                contentType: false, // 기본 컨텐트 타입을 사용하지 않도록 설정
                success: function (response) {
                    form_xai_post(response);
                }
            });
        });

        function form_result_post(response) {
            let code = response.code;
            if (code !== 200) {
                alert('Error: ' + response.msg);
                return
            }
            let data = response.data;
            console.log(data);

            let result = data;
            let tbody = $('#table_result').find('tbody');
            tbody.empty();

            // get dictionary result length
            let result_keys = Object.keys(result);
            let result_len = result_keys.length;

            for (let i = 0; i < result_len; i++) {
                let row = result[result_keys[i]];
                console.log(row)
                let tr = $('<tr>');
                tr.append($('<td>').text(i + 1));
                tr.append($('<td>').text(row.question));
                tr.append($('<td>').text(row.answer));
                tr.append($('<td>').text(row.advice));
                tbody.append(tr);
            }
        }

        let form_result = $('#form_result');
        form_result.submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                data: $(this).serialize(),
                type: 'GET',
                success: function (response) {
                    form_result_post(response);
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div>
    <h1 class="mt-3 fs-2">XAI 통합 테스트</h1>
    <div class="row mt-3">
        <div class="col px-5">
            <div class="mt-3" id="collapse_form">
                <h3>정관 업로드</h3>
                <form id="form_xai" class="mt-3" enctype="multipart/form-data"
                      action="{{ url_for('processing') }}">
                    <div class="mb-3 row">
                        <label for="formFile" class="col-sm-3 col-form-label">파일(txt)</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="file" id="formFile" name="file">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-light" type="submit" name="mode" value="test">Test Submit</button>
                </form>
            </div>
            <h3 class="mt-3">분석 결과</h3>
            <div class="mt-3">
                <div class="row">
                    <div class="col">
                        <form id="form_result" class="mt-3" action="{{ url_for('get_result') }}">
                            <div class="mb-3 row">
                                <label for="uid" class="col-sm-3 col-form-label">문서 번호</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="uid" name="uid"
                                           value="202402072146042387" readonly>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">결과보기</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table id="table_result" class="table">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">질문</th>
                                <th scope="col">답변</th>
                                <th scope="col">변호사 조언</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
