{% extends "base.html" %}
{% block title %}
Law XAI - Demo
{% endblock %}

{% block extra_head_after %}
<style>
    #document {
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
    }
    .scrollspy-example {
        height: 400px;
        overflow: auto;
    }
</style>
<script type="text/javascript">
    function nl2br(str) {
        try {
            return str.replace(/\n/g, "<br />");
        } catch (e) {
            console.log(e);
            console.log(str);
        }
    }

    function needcheck2str(need_check) {
        if (need_check === 0) {
            return '확인필요';
        } else if (need_check === 1) {
            return '주의필요';
        } else
        {
            return '확인불필요';
        }
    }

    function isSatisfied2str(is_satisfied) {
        if (is_satisfied === false) {
            return '불만족';
        } else {
            return '만족';
        }
    }

    $(document).ready(function () {
        console.log('ready');

        function form_xai_post(response) {
            let code = response.code;
            if (code !== 200) {
                alert('Error: ' + response.msg);
                return
            }
            let data = response.data;
            console.log(data);

            let uid = data.uid;
            $('#uid').val(uid);

            let document = data.document;

            // loop document
            let document_keys = Object.keys(document);
            let document_len = document_keys.length;
            for (let i = 0; i < document_len; i++) {
                let paragraph = document[i];

                let score = paragraph["score"];

                // get element by id
                let list_example = $('#list-example');

                // create list item
                let list_item = $('<a>').addClass('list-group-item list-group-item-action')
                    .attr('href', '#list-item-' + i)
                    .text(paragraph["title"]);
                list_example.append(list_item);

                // create content
                let content = $('#list-content');

                let content_title = $('<h4>').attr('id', 'list-item-' + i).text(paragraph["title"] + ' (Score: ' + score + ')' );
                let content_paragraph = $('<p>').attr('class', 'p-3').html(nl2br(paragraph["content"]));
                content.append(content_title);
                content.append(content_paragraph);
            }
            // refresh non-visible scrollspy
            $('[data-bs-spy="scroll"]').each(function () {
                var $spy = $(this).scrollspy('refresh');
            });
        }

        let form_xai = $('#form_xai');
        form_xai.submit(function (e) {
            e.preventDefault();
            // Add file data to form
            // var formData = new FormData();
            // formData.append('file', $('input[type=file]')[0].files[0]);

            // get submit button value
            var submitValue = $(this).find('button[type=submit]:focus').val();

            // get all form data
            var formData = new FormData(this);
            formData.append('mode', submitValue);

            $.ajax({
                url: this.action,
                type: 'POST',
                data: formData,
                processData: false, // jQuery가 데이터를 처리하지 않도록 설정
                contentType: false, // 기본 컨텐트 타입을 사용하지 않도록 설정
                success: function (response) {
                    form_xai_post(response);
                }
            });
        });

        function form_result_post(response) {
            let code = response.code;
            if (code !== 200) {
                alert('Error: ' + response.msg);
                return
            }
            let data = response.data;
            console.log(data);

            let results = data['results']
            let checklist = data['checklist']
            let satisfied_count = checklist['satisfied_count']
            let unsatisfied_count = checklist['unsatisfied_count']

            // set checklist
            let checklist_elem = $('#checklist');
            checklist_elem.text(' (Satisfied: ' + satisfied_count + ' / Not satisfied: ' + unsatisfied_count + ')');


            let tbody = $('#table_result').find('tbody');
            tbody.empty();

            // get dictionary result length
            let result_keys = Object.keys(results);
            let result_len = result_keys.length;

            for (let i = 0; i < result_len; i++) {
                let row = results[result_keys[i]];

                // create toggle element
                let aherf = $('<a>').attr('data-bs-toggle', 'collapse')
                    .attr('href', '#collapse-' + i).attr('role', 'button').attr('aria-expanded', 'false')
                    .attr('aria-controls', 'collapse-' + i).text(row.question);

                let content = $('<div>').addClass('collapse').attr('id', 'collapse-' + i);
                content.append($('<p>').addClass('mt-3').text('변호사 조언:'));
                content.append($('<div>').addClass('mt-2').html(nl2br(row.advice)));

                let div = $('<div>').append(aherf).append(content);



                // create table row
                let tr = $('<tr>');
                tr.append($('<td>').text(i + 1));
                tr.append($('<td>').append(div));
                // tr.append($('<td>').text(row.answer));
                tr.append($('<td>').append(row.answer));
                tr.append($('<td>').text(isSatisfied2str(row.is_satisfied)));
                tr.append($('<td>').text(needcheck2str(row.need_check)));
                // tr.append($('<td>').text(row.advice));
                tbody.append(tr);
            }
        }

        let form_result = $('#form_result');
        form_result.submit(function (e) {
            e.preventDefault();

            // check uid value
            let uid = $('#uid').val();
            if (uid === '') {
                alert('문서 번호를 입력해주세요.');
                return
            }

            $.ajax({
                url: this.action,
                data: $(this).serialize(),
                type: 'GET',
                success: function (response) {
                    form_result_post(response);
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div>
    <h1 class="mt-3 fs-2">XAI 정관 분석 API 테스트</h1>
    <div class="row mt-3">
        <div class="col px-3">
            <div class="mt-3" id="collapse_form">
                <h3>정관 업로드</h3>
                <form id="form_xai" class="mt-3" enctype="multipart/form-data"
                      action="{{ url_for('xai.analyze') }}">
                    <div class="mb-3 row">
                        <label for="formFile" class="col-sm-3 col-form-label">정관파일(txt)</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="file" id="formFile" name="file">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">분석하기</button>
                    {% if debug %}
                    <button class="btn btn-light" type="submit" name="mode" value="test">테스트 분석</button>
                    {% endif %}
                </form>
            </div>
            <h3 class="mt-3">분석 결과</h3>
            <div class="mt-3">
                <div class="row">
                    <div class="col">
                        <form id="form_result" class="mt-3" action="{{ url_for('xai.get_result') }}">
                            <div class="mb-3 row">
                                <label for="uid" class="col-sm-3 col-form-label">문서 번호</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="uid" name="uid"
                                           value="">
                                </div>
                            </div>
                            <div>
                                <h4 class="mt-3">표준정관 유사도 분석</h4>
                                <div id="document" class="row">
                                    <div class="col-2 mt-3">
                                        <div id="list-example" class="list-group">
<!--                                             <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>-->
                                        </div>
                                    </div>
                                    <div class="col-10 mt-3">
                                        <div id="list-content" data-bs-spy="scroll" data-bs-target="#list-example"
                                             data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
<!--                                            <h4 id="list-item-1">Item 1</h4>-->
<!--                                            <p>...</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary mt-3" type="submit">결과보기</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mt-3">체크리스트 분석<span id="checklist"></span></h4>
                        <table id="table_result" class="table">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 4%">번호</th>
                                <th scope="col">질문</th>
                                <th scope="col" style="width: 20%">답변</th>
                                <th scope="col" style="width: 10%">내용만족여부</th>
                                <th scope="col" style="width: 10%">내용검토필요</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
